<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net472" />
  <package id="Sentry" version="2.1.6" targetFramework="net472" />
  <package id="Sentry.EntityFramework" version="2.1.6" targetFramework="net472" />
  <package id="Sentry.PlatformAbstractions" version="1.1.1" targetFramework="net472" />
  <package id="Sentry.Protocol" version="2.1.6" targetFramework="net472" />
</packages>